[phases.setup]
nixPkgs = ["python312", "pip"]

[phases.install]
cmds = [
  "pip install -r requirements.txt",
  "playwright install chromium",
  "playwright install-deps chromium"
]

[start]
cmd = "python app.py"

